body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Dosis', sans-serif;
}

header {
  display: inline-block;
  width: 1220px;
  margin-left: calc(50% - 610px);
  margin-top: 15px;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.menu-links {
  margin-left: 40px;
  line-height: 20px;
  padding: 2px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: #2b224b;
  border-bottom: 3px solid transparent;
}

.menu-links:hover {
  border-bottom: 3px solid #ff4522;
  transition: 0.5s;
}

.main-content {
  display: inline-block;
  width: 1220px;
  margin-top: 150px;
  margin-left: calc(50% - 610px);
}

.text {
  float: left;
  width: 40%;
  color: #2b224b;
  font-weight: 800;
}

h1 {
  font-size: 50px;
}

span {
  color: #ff4522;
}
p {
  font-size: 22px;
  margin-top: 30px;
  line-height: 30px;
  font-weight: 400;
}

.sign-up-btn {
  background-color: #ff4522;
  box-sizing: border-box;
  border: 3px solid transparent;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 5px;
}

.sign-up-btn:hover {
  /* background-color: #ff6d54; */
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid #ff4522;
  color: #ff4522;
  transition: 0.5s;
}

.main-img {
  /* background-color: #fff; */
  float: right;
  width: 50%;
}

.background-img {
  object-fit: ;
}
