body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Dosis', sans-serif;
}

header {
  background-color: antiquewhite;
  /* float: left; */
  display: inline-block;
  width: 1220px;
  margin-left: calc(50% - 610px);
  margin-top: 10px;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.menu-links {
  float: left;
  margin-left: 20px;
  line-height: 20px;
  /* border: 3px solid red; */
}

.menu-links:first-child {
}

.main-content {
  /* background-color: rgb(96, 97, 158); */
  display: inline-block;
  width: 1220px;
  margin-top: 150px;
  margin-left: calc(50% - 610px);
}

.text {
  /* background-color: aqua; */
  float: left;
  width: 40%;
  color: #2b224b;
  font-weight: 800;
}

h1 {
  font-size: 50px;
}

span {
  color: #ff4522;
}
p {
  font-size: 22px;
  margin-top: 30px;
  line-height: 30px;
  font-weight: 400;
}

.sign-up-btn {
  background-color: #ff4522;
  text-decoration: none;
  display: inline-block;
  color: wheat;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 5px;
}

.main-img {
  /* background-color: #fff; */
  float: right;
  width: 58%;
}

.background-img {
  object-fit: ;
}
